 /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY ------------------------------- */ 

header, nav, main, footer {font-family: "lato";}



body{
    font-family: $defaultFont; 
    font-weight: $normalWeight; 
    font-size: 16px; 
    
}

/* ------------------------HEADER----------------------------- */

header {
font-size: 32px; 
padding: 20px; 
color: $secondaryColor; 

}




/* ------------------------END HEADER----------------------------- */








/* ------------------------ENDTOPNAV----------------------------- */



Nav {
width: 100%; 
background-color: $secondaryColor; 
height: 50px; 

li  { 
float: left; 
text-decoration: none; 
list-style-type: none; 
width: 25%; 
padding: 15px; 
color: $fontColor; 

a:link {
text-decoration: none; 
color: $fontColor; 

}

a:hover {
background-color: $primaryColor; 
width: 100%;  
padding: 15px; 
    
    
    
}

a:visited {
color: $fontColor;     
}

}

}



/* ------------------------MAIN----------------------------- */

.main-1 {
    //min-height: 20rem;
    //padding: 1rem 2%;
    //display: grid; 
    //grid-template-columns: 1fr;
    //grid-column-gap: 10px;
    //grid-row-gap: 10px;  
    
h1 {
text-align: left; 
font-size: 36px; 
padding: 20px 0px; 



}  

h2 {
text-align: left; 
font-size: 32px; 
padding: 20px 0px; 
}
    
ul {
text-align: left; 

li {
list-style-type: none; 
padding: 10px 0px; 
font-size: 16px;
line-height: 30px;  


}

.A {
font-weight: 600;
font-size: 24px;  
line-height: 40px; 


}

}


 

}



 
figure.github {width: 100%;}
figure.github img {width: 100%;}
 
   






/* ------------------------FOOTER----------------------------- */

footer {
text-align: center; 
padding: 50px 0px; 
background-color: $secondaryColor; 
color: $fontColor; 
margin-top: 50px; 

}






/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
 
    .clearfix:after {
        content: ""; 
        display: table; 
        
        
    }    
    





